/*-- scss:defaults --*/


/*-- scss:rules --*/

.title {
  font-size: 60px !important;
  color: white !important;
}

.quarto-title-author-name {
  font-size: 30px;
  color: white !important;
}

.slide-background-content{
  background-image: url("../../../../../images/main2.svg");
  background-size: contain;
}

.caption{
   text-align: center;
}